<%= form_for course do |f| %>
  <div class="columns">
    <div class="column is-half">
      <%= f.label :name, '名稱', class: 'label' %>
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <%= f.label :teacher_id, '教師', class: 'label' %>
      <div class="select is-medium is-fullwidth">
        <%= f.select :teacher_id, options_for_teachers %>
      </div>
    </div>
  </div>
  <%= render 'chapter_form', f: f %>
  <%= f.submit class: 'button is-primary is-medium mt-2' %>
<% end %>