<div class="nested-unit-fields mb-3">
  <div class="columns">
    <div class="column is-half">
      <%= u.label :name, '單元名稱', class: 'label' %>
      <%= u.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <%= u.label :description, '單元描述', class: 'label' %>
      <%= u.text_field :description, class: 'input' %>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <%= u.label :content, '單元內容', class: 'label' %>
      <%= u.text_area :content, class: "textarea" %>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <%= u.label :position, '單元位置',class: 'label' %>
      <%= u.text_field :position, class: 'input' %>
    </div>
  </div>


  <div class="field">
    <%= link_to "刪除單元", '#', class: 'button is-danger is-small', data: { action: 'course#remove_unit' } %>
  </div>
</div>