<%= form_for @course do |f| %>
  <h5>新增課程</h5>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :teacher_id %>
    <%= f.select :teacher_id, options_for_teachers %>
  </div>
  <%= render 'chapter_form', f: f %>
  <div class="form-group">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
